<div ng-controller="Slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <img ng-src="images/{{image.src}}" />
  </div>
  <div class="arrows">
    <a href="#" ng-click="prev()">
      <span class="glyphicon glyphicon-step-backward"></span>
    </a>
    <a href="#" ng-click="next()">
      <span class="glyphicon glyphicon-step-forward"></span>
    </a>
  </div>
</div>
	    <!--Text content -->
	    <div id="textBlock">
		    <div class="clear textBlock">
			    <div class="box firstBox">
				    <div class="title">
				      <h1><span class="name">EASY PATIENT RELATIONS</span></h1>
				    </div>
			      <p class="boxCont"><strong>Use internet and mobile technologies <br />
			        to maintain connection</strong><br />
                      <br />
                  We provide  <a href="features.html" class="author">dental patient communication tools</a> designed to actively interact with your patients through e-mails and text messages. Get most from today's technology: from effortless <a href="features/dental-appointment-reminder.html" class="author">dental appointment reminder</a> or <a href="features/dental-recall-reminder.html" class="author">patient recall reminder</a> to personalised and automated <a href="features/birthday-reminder.html" class="author">birthday greeting</a>. </p>
				    <div class="linkBox">
				      <h4><a href="textpage.html#block1" class="more"><strong>TELL ME MORE »</strong></a>				    </h4>
				      <p>&nbsp;</p>
				      <p>&nbsp;</p>
				      <h1>PATIENT COMMUNICATION TOOLS:				      </h1>
				      <h2>- <a href="features/dental-appointment-reminder.html" class="author">Dental Appointment Reminders</a></h2>
				      <h2>- <a href="features/surveys.html" class="author">After Visit Surveys</a></h2>
				      <h2>- <a href="features/mass-messages.html" class="author">Group Messages</a></h2>
				    </div>
			    </div>
			    <div class="box secondBox marLR">
			      <div class="title">
			        <h1><span class="name">REACTIVATE... ACTIVELY</span></h1>
			      </div>
			      <p class="boxCont"><strong>Keep number of returning patients HIGH:<br />
use reactivation tools </strong><br />
                      <br />
                  Every patient is precious, every returning patient is double so. <em>SmileRadius</em> provides you with spectrum of <a href="features.html" class="author">dental communication tools</a>, designed to help you reclaiming  iddle accounts. You can choose, when they receive the <a href="features/dental-appointment-reminder.html" class="author">recall reminders</a> and<a href="features/reactivate.html" class="author"> reactivation reminders</a>, and how are they phrased. </p>
			      <div class="linkBox">
			        <p><a href="textpage.html#block2" class="more"><strong>SEE HOW IT’S DONE »</strong></a></p>
			        <p>&nbsp;</p>
			        <p>&nbsp;</p>
			        <h1>REACTIVATION TOOLS:</h1>
			        <h2>- <a href="features/dental-recall-reminder.html" class="author">Patient Recall Reminders</a></h2>
			        <h2>- <a href="features/reactivate.html" class="author">Reactivation Reminders</a></h2>
			        <h2>- <a href="features/birthday-reminder.html" class="author">Dental Birthday Reminder</a></h2>
                  </div>
			    </div>
			    <div class="box thirdBox">
			      <div class="title">
			        <h1><span class="name">EFFORTLESS PROMOTIONS</span></h1>
			      </div>
			      <p class="boxCont"><strong>Make  your marketing campaign work <br />
		          for you automatically 24/7<br />
				      <br />
				    </strong>Automate and optimize your marketing campaigns, using <a href="features.html" class="author">patient communication tools</a>: Manage your <a href="features/newsletters.html" class="author">newsletters</a>, <a href="features/reviews.html" class="author">ratings, reviews</a> and social media without taking away from your practice, or using your personal time. This is a completely new level of <a href="features.html" class="author">dental communication </a>systems.</p>
				    <div class="linkBox">
				      <p><a href="textpage.html#block3" class="more"><strong>CONTINUE TO DETAILS »</strong></a></p>
				      <p>&nbsp;</p>
				      <p>&nbsp;</p>
				      <h1>PROMOTIONAL TOOLS:</h1>
				      <h2>- <a href="features/promotions.html" class="author">Promotions </a></h2>
                      <h2>- <a href="features/newsletters.html" class="author">Dental Newsletters </a></h2>
                      <h2>- <a href="features/reviews.html" class="author">Ratings and Reviews</a></h2>
                    </div>
			    </div>
			    <div class="clear">
			      <p>&nbsp;</p>
			      <p><span class="title"><br />
		          Ready to test the system?</span></p>
			      <p><span class="boxCont"><strong><a href="contact.html" class="more">Contact us</a> to request a personal demonstration</strong><br /> 
			        Our specialist will walk you through the actual control panel, show you the features, and answer any questions you may have.<br />
			        For your personal demonstration call 
                  </span><strong>			      855-546-6720</strong> or e-mail:<a href="mailto:info@smileradius.com" class="more"><strong>info@smileradius.com</strong></a></p>
			      <p>&nbsp;</p>
			    </div>
		    </div>
	    </div>
        <!--Text content end -->

        <div class="hFooter"></div>
</div>